@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Imperial+Script&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

p {
  font-family: "Inter", sans-serif;
}

.logo {
  font-family: "Imperial Script";
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* look de logo */
  text-rendering: geometricPrecision;
  display: inline-block; /* necesario para animaciones */
  transform-origin: center;
}
